out
.idea/workspace.xml
.idea/compiler.xml
.idea/misc.xml
.idea/profiles_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
Crucible4IDEA.zip
Crucible4IDEA-0.1.zip
.DS_Store
